@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;

}

/* shared file */
.btn-primary {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 36px;
    border-radius: 5px;
    color: #F15B22;
    background: white;

}

.primary-color {
    color: #151414;

}

.secondary-color {
    color: #443434;

}

.tertiary-color {
    color: #737272;

}

.section-max-width {
    max-width: 1140px;
    margin: 130px auto 0;

}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;

}

/* navber section */
.navbar{
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: 800;
    color: #F15B22;
}

.menue-bar{
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.menue-bar>li>a{
    text-decoration: none;
    color:#443434;
}

/* banner-section */
.banner {
    background-image: url(../images/banner/banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: right;
    padding: 216px 230px 166px 0;

}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: end;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    max-width: 512px;

}

.banner-info {
    max-width: 494px;
    margin: 24px 0 32px;

}

#btn-banner {
    background-color: #F15B22;
    color: white;

}


/* failure section */
.failures {
    margin-top: 140px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 87px;

}

.img-container {
    position: relative;

}

.img-container>img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2
}

.img-background {
    width: 527px;
    height: 527px;
    border-radius: 50%;
    background-color: #f15b2233;
    position: absolute;
    bottom: 5px;
    left: 24px;
    z-index: 1;

}

.failure-content-title {
    max-width: 288px;
    margin-top: 230px;

}

.failure-info {
    max-width: 416px;
    margin: 24px 0 16px;

}

.failure-list>li {
    list-style: none;
    margin-top: 8px;

}

.failure-list>li::before {
    content: "\2714";
    margin-right: 10px;
    color: green;
    font-size: 16px;

}

/* my plan section */
.my-plan-title {
    text-align: center;

}

.plan-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

}

.plan {
    text-align: center;

}

.plan-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 18px;

}

.plan>p {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 16px;

}

/* mindset-section */
.positive-mindset {
    padding: 60px 64px;
    border-radius: 8px;
    background-image: url(../images/watch.png);
    /* background:linear-gradient(to right, #f15b22fa, #f15b2200); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.positive-mindset::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    background: linear-gradient(to right, #f15b22fa, #f15b2200);
    z-index: 1;

}

.positive-mind-title {
    max-width: 459px;
    margin-bottom: 24px;
    font-size: 2.25rem;
    font-weight: 700;
    color: white;
    z-index: 2;
    position: relative;

}

#mind-sec-btn {
    position: relative;
    z-index: 2;
}

/* footer section */
footer {
    width: 100%;
    background-color: #151414;
    margin-top: 130px;
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;

}

.footer-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #f8f8f8;

}

.footer-info {
    max-width: 485px;
    margin-top: 16px;
    color: white;

}

.address {
    margin-top: 24px;
    color: white;

}

.social-midea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
    margin-top: 32px;

}

.subscribe-container>h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;

}

form {
    margin-top: 31px;

}

input[type="email"] {
    font-size: 1.125rem;
    background-color: #151414;
    color: #f8f8f8;
    padding: 21px;
    margin-bottom: 16px;
    border: 1px solid #ffffff;
    border-radius: 8px;

}