
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}

/* shared file */
.btn-primary{
    border: 1px solid green;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 5px;
    color: #F15B22;
    background: white;
}


.primary-color{
    color: #151414;
}


.secondary-color{
    color: #443434;
}


.tertiary-color{
    color: #737272;
}


.section-max-width{
    max-width: 1140px;
    margin: 130px auto 0;
}


.section-title{
    font-size: 2.5rem;
    font-weight: 700;
}

/* banner-section */
.banner{
    background-image: url(../images/banner/banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: right;
    padding: 216px 230px 166px 0;
    display: flex;
    justify-content: flex-end;

}

/* .banner-content{
    display: flex;
    flex-direction: column;
    justify-content: right;
} */

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    max-width: 512px;
    
}


.banner-info{
    max-width: 494px;
    margin: 24px 0 32px;
}


/* failure section */
.failures{
    margin-top: 140px ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 87px;
}


.img-container{
    position: relative;
}


.img-container>img{
   width: 100%;
    height: 100%;
    position: relative;
    z-index:2
}


.img-background{
    width: 527px;
    height: 527px;
    border-radius: 50%;
    background-color: #f15b2233;
    position: absolute;
    bottom: 5px;
    left: 24px;
    z-index: 1;
    
}


.failure-content-title{
    max-width:288px;
}


.failure-info{
    max-width: 416px;
    margin: 24px 0 16px;
}


.failure-list>li{
    list-style: none;
    margin-top: 8px;
}

.failure-list>li::before{
    content:"\2714";
    margin-right: 10px;
    color: green;
    font-size: 16px;
}

/* my plan section */
.my-plan-title{
    text-align: center;
}


.plan-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}


.plan{
    text-align: center;
}


.plan-title{
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 18px;
}

.plan>p{
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 16px;
}